*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    padding: 40px;
}

.product-container{
    background: white;
    display: flex;
    gap: 40px;
    padding: 30px;
    border-radius: 12px;
    max-width: 900px;
    margin: auto;
}

.image-section img{
    width: 400px;
    border-radius: 12px;
}

#mainImg{
    height: 250px;
    object-fit: cover;
}

.thumbs{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.thumbs img{
    width: 70px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbs img:hover{
    border-color: #007bff;
}

.info-section h2{
    margin-bottom: 10px;
}

.qty-box{
    margin: 20px 0;
}

input{
    width: 60px;
    padding: 5px;
}

button{
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background:  #005ec2;
}